*{
  margin: 0;
  padding: 0;
}

div.topo{
  width: 700px;
  height: 133px;
  padding: 10px;
  margin: 0 auto;
}

img.logo{
  padding: 8px 0;
}

.barra ul{
  list-style: none;
  float: left;
  width: 700px;
}

.barra ul a{
  color: #000;
  float: left;
  margin: 5px 25px 0px 0px ;
  text-decoration: none;
}

.barra ul a:hover{
  color: rgb(10, 55, 255);
}

#button{
  float: right;
}